#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
/antlr4/target/
/antlr4/.settings/
/antlr4/.project
/antlr4/.classpath
/antlr4/.pydevproject
/antlr4/.idea
/antlr4/*.iml
/antlr4/*.ipr
/antlr4/*.iws
/antlr4/nbproject/
/antlr4/nbactions.xml
/antlr4/nb-configuration.xml
/antlr4/.vscode/
/antlr4/.factorypath
/getting-started/target/
/getting-started/.settings/
/getting-started/.project
/getting-started/.classpath
/getting-started/.pydevproject
/getting-started/.idea
/getting-started/*.iml
/getting-started/*.ipr
/getting-started/*.iws
/getting-started/nbproject/
/getting-started/nbactions.xml
/getting-started/nb-configuration.xml
/getting-started/.vscode/
/getting-started/.factorypath
